*Creado por:*

*Isabel Maniega*

# Pandas y Modin

Objetivos:
* Aprender más sobre Modin
* Fomentar la proactividad del alumno

# Tabla de contenidos:
1. [Ordenador con el que se ha hecho el experimento](#caracteristicas)
2. [Pandas](#pandas)
3. [Modin](#modin)
    1. [Modin y Ray](#modin-ray)
    2. [Modin y Dask](#modin-dask)

## Ordenador con el que se ha hecho el experimento <a class="anchor" id="caracteristicas"></a>
Características:
   * Intel® Core™ i9-12900H CPU @ 2.40GHz × 4 
   * 32 GiB RAM DDR4
   * 1T SSD m.2
   * Sistema Operativo: Ubuntu
   * Empleamos el archivo mencionado en el manual. (DATOS DEL 2018)

## Pandas <a class="anchor" id="pandas"></a>

In [1]:
# pip install pandas

In [2]:
%%time
import pandas as pd

CPU times: total: 422 ms
Wall time: 508 ms

In [4]:
%%time
df_pandas = pd.read_csv('yellow_tripdata_2.csv', low_memory=False)
df_pandas.head()

CPU times: total: 22.4 s
Wall time: 22.7 s

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,0,1,2018-01-01 00:21:05,2018-01-01 00:24:23,1,0.5,1,N,41,24,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN,NaN
1,1,1,2018-01-01 00:44:55,2018-01-01 01:03:05,1,2.7,1,N,239,140,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30,NaN,NaN
2,2,1,2018-01-01 00:08:26,2018-01-01 00:14:21,2,0.8,1,N,262,141,1,6.0,0.5,0.5,1.00,0.0,0.3,8.30,NaN,NaN
3,3,1,2018-01-01 00:20:22,2018-01-01 00:52:51,1,10.2,1,N,140,257,2,33.5,0.5,0.5,0.00,0.0,0.3,34.80,NaN,NaN
4,4,1,2018-01-01 00:09:18,2018-01-01 00:27:06,2,2.5,1,N,246,239,1,12.5,0.5,0.5,2.75,0.0,0.3,16.55,NaN,NaN

In [5]:
print(f"Number of Rows: {len(df_pandas.index)}")
print(f"Number of Columns: {len(df_pandas.axes[1])}")

Number of Rows: 8760687
Number of Columns: 20

In [6]:
%%time
df_pandas.describe()

CPU times: total: 8.97 s
Wall time: 9.12 s

,Unnamed: 0,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,8.760687e+06,8.760687e+06,8.760687e+06,8.760687e+06,8.760687e+06,8.760687e+06,8.760687e+06,8.760687e+06,8.760687e+06,8.760687e+06,8.760687e+06,8.760687e+06,8.760687e+06,8.760687e+06,8.760687e+06,12.0,12.0
mean,4.380343e+06,1.560978e+00,1.606807e+00,2.804022e+00,1.039545e+00,1.644579e+02,1.627270e+02,1.310613e+00,1.224443e+01,3.246882e-01,4.975066e-01,1.818759e+00,3.026157e-01,2.996307e-01,1.549109e+01,2.5,0.0
std,2.528993e+06,4.962678e-01,1.258420e+00,6.412050e+01,4.450619e-01,6.635990e+01,7.031145e+01,4.817808e-01,1.168321e+01,4.502555e-01,4.333281e-02,2.486375e+00,1.738184e+00,1.442748e-02,1.419546e+01,0.0,0.0
min,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-4.500000e+02,-4.469000e+01,-5.000000e-01,-8.880000e+01,-1.500000e+01,-3.000000e-01,-4.503000e+02,2.5,0.0
25%,2.190172e+06,1.000000e+00,1.000000e+00,9.100000e-01,1.000000e+00,1.160000e+02,1.130000e+02,1.000000e+00,6.000000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.300000e+00,2.5,0.0
50%,4.380343e+06,2.000000e+00,1.000000e+00,1.550000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,0.000000e+00,5.000000e-01,1.360000e+00,0.000000e+00,3.000000e-01,1.130000e+01,2.5,0.0
75%,6.570514e+06,2.000000e+00,2.000000e+00,2.840000e+00,1.000000e+00,2.340000e+02,2.340000e+02,2.000000e+00,1.350000e+01,5.000000e-01,5.000000e-01,2.350000e+00,0.000000e+00,3.000000e-01,1.662000e+01,2.5,0.0
max,8.760686e+06,2.000000e+00,9.000000e+00,1.894838e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,8.016000e+03,6.000000e+01,4.549000e+01,4.417100e+02,9.507000e+02,1.000000e+00,8.016800e+03,2.5,0.0

In [ ]:
%%time
df_pandas.fare_amount.value_counts()

In [7]:
%%time
len(df_pandas), df_pandas.shape

CPU times: total: 0 ns
Wall time: 0 ns

(8760687, (8760687, 20))

In [8]:
%%time
df_pandas.tail()

CPU times: total: 0 ns
Wall time: 0 ns

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
8760682,8760682,1,2018-01-31 23:21:35,2018-01-31 23:34:20,2,2.80,1,N,158,163,1,12.0,0.5,0.5,2.65,0.0,0.3,15.95,NaN,NaN
8760683,8760683,1,2018-01-31 23:35:51,2018-01-31 23:38:57,1,0.60,1,N,163,162,1,4.5,0.5,0.5,1.15,0.0,0.3,6.95,NaN,NaN
8760684,8760684,2,2018-01-31 23:28:00,2018-01-31 23:37:09,1,2.95,1,N,74,69,2,10.5,0.5,0.5,0.00,0.0,0.3,11.80,NaN,NaN
8760685,8760685,2,2018-01-31 23:24:40,2018-01-31 23:25:28,1,0.00,1,N,7,193,2,0.0,0.0,0.0,0.00,0.0,0.0,0.00,NaN,NaN
8760686,8760686,2,2018-01-31 23:28:16,2018-01-31 23:28:38,1,0.00,1,N,7,193,2,0.0,0.0,0.0,0.00,0.0,0.0,0.00,NaN,NaN

## Modin <a class="anchor" id="modin"></a>

### Modin y Ray <a class="anchor" id="modin-ray"></a>

In [ ]:
# pip install ray

In [ ]:
# pip install modin

In [12]:
%%time
import ray
ray.init()
import modin
import modin.pandas as mpd
modin.config.Engine.put("ray")

_InactiveRpcError: <_InactiveRpcError of RPC that terminated with:
	status = StatusCode.UNAVAILABLE
	details = "failed to connect to all addresses; last error: UNAVAILABLE: ipv4:127.0.0.1:62800: WSA Error"
	debug_error_string = "UNKNOWN:failed to connect to all addresses; last error: UNAVAILABLE: ipv4:127.0.0.1:62800: WSA Error {created_time:"2023-02-22T20:13:38.729264764+00:00", grpc_status:14}"
>

Lectura de csv utilizando Modin-Ray

In [11]:
%%time
df_modin_ray = mpd.read_csv('yellow_tripdata_2.csv')
df_modin_ray.head()

NameError: name 'mpd' is not defined

In [ ]:
%%time
df_modin_ray.describe()

In [ ]:
%%time
df_modin_ray.fare_amount.value_counts()

In [ ]:
%%time
len(df_modin_ray), df_modin_ray.shape

In [ ]:
%%time
df_modin_ray.tail()

# Modin y Dask <a class="anchor" id="modin-dask"></a>

In [ ]:
# pip install dask[distributed]

In [ ]:
%%time
import dask
from dask.distributed import Client
client = Client()
import modin
import modin.pandas as mpd
modin.config.Engine.put("dask")

Lectura de csv utilizando Modin-Dask

In [ ]:
%%time
df_modin_dask = mpd.read_csv('yellow_tripdata.csv')
df_modin_dask.head()

In [ ]:
%%time
df_modin_dask.describe()

In [ ]:
%%time
df_modin_dask.fare_amount.value_counts()

In [ ]:
%%time
len(df_modin_dask), df_modin_dask.shape

In [ ]:
%%time
df_modin_dask.tail()

*Creado por:*

*Isabel Maniega*