*Creado por:*

*Isabel Maniega*

# Pandas y HTML

In [4]:
import warnings
warnings.filterwarnings("ignore")

In [7]:
# pip install html5lib

In [8]:
# pip install lxml

In [9]:
import pandas as pd

In [10]:
df = pd.read_html('https://es.wikipedia.org/wiki/Anexo:Municipios_de_Espa%C3%B1a_por_poblaci%C3%B3n', header=0)
len(df)

7

In [11]:
df

[   N.º     Nombre Población (1 de enero de 2022)  Provincia  \
 0    1     Madrid                      3 280 782     Madrid
 1    2  Barcelona                      1 636 193  Barcelona
 2    3   Valencia                        792 492   Valencia
 3    4    Sevilla                        681 998    Sevilla
 4    5   Zaragoza                        673 010   Zaragoza
 5    6     Málaga                        579 076     Málaga

      Comunidad autónoma
 0   Comunidad de Madrid
 1              Cataluña
 2  Comunidad Valenciana
 3             Andalucía
 4                Aragón
 5             Andalucía  ,
     N.º                      Nombre Población (1 de enero de 2022)  \
 0     7                      Murcia                        462 979
 1     8                       Palma                        415 940
 2     9  Las Palmas de Gran Canaria                        378 797
 3    10                      Bilbao                        344 127
 4    11                    Alicante                        338 577
 5    12                     Córdoba                        319 515
 6    13                  Valladolid                        295 639
 7    14                        Vigo                        292 374
 8    15                       Gijón                        267 706
 9    16     Hospitalet de Llobregat                        265 444
 10   17                     Vitoria                        253 672
 11   18                   La Coruña                        244 700
 12   19                       Elche                        235 580
 13   20                     Granada                        228 682
 14   21                     Tarrasa                        224 114
 15   22                    Badalona                        223 506
 16   23                   Cartagena                        216 961
 17   24                    Sabadell                        215 760
 18   25                      Oviedo                        215 167
 19   26        Jerez de la Frontera                        212 730
 20   27                    Móstoles                        208 761
 21   28      Santa Cruz de Tenerife                        208 688
 22   29                    Pamplona                        203 418

                  Provincia      Comunidad autónoma
 0         Región de Murcia        Región de Murcia
 1           Islas Baleares          Islas Baleares
 2               Las Palmas                Canarias
 3                  Vizcaya              País Vasco
 4                 Alicante    Comunidad Valenciana
 5                  Córdoba               Andalucía
 6               Valladolid         Castilla y León
 7               Pontevedra                 Galicia
 8   Principado de Asturias  Principado de Asturias
 9                Barcelona                Cataluña
 10                   Álava              País Vasco
 11               La Coruña                 Galicia
 12                Alicante    Comunidad Valenciana
 13                 Granada               Andalucía
 14               Barcelona                Cataluña
 15               Barcelona                Cataluña
 16        Región de Murcia        Región de Murcia
 17               Barcelona                Cataluña
 18  Principado de Asturias  Principado de Asturias
 19                   Cádiz               Andalucía
 20     Comunidad de Madrid     Comunidad de Madrid
 21  Santa Cruz de Tenerife                Canarias
 22                 Navarra                 Navarra  ,
     N.º                      Nombre Población (1 de enero de 2022)  \
 0    30                     Almería                        199 237
 1    31           Alcalá de Henares                        196 888
 2    32                 Fuenlabrada                        189 891
 3    33               San Sebastián                        187 849
 4    34                     Leganés                        186 660
 5    35                      Getafe                        183 218
 6    36                      Burgos                        173 483
 7    37                    Albacete                        172 357
 8    38       Castellón de la Plana                        171 857
 9    39                   Santander                        171 693
 10   40                    Alcorcón                        170 296
 11   41  San Cristóbal de La Laguna                        157 815
 12   42                    Marbella                        150 725
 13   43                     Badajoz                        150 146
 14   44                     Logroño                        150 020
 15   45                   Salamanca                        142 412
 16   46                      Huelva                        141 854
 17   47                      Lérida                        140 797
 18   48                Dos Hermanas                        137 561
 19   49                   Tarragona                        134 883
 20   50           Torrejón de Ardoz                        134 733
 21   51                       Parla                        130 577
 22   52                      Mataró                        128 956
 23   53                   Algeciras                        122 368
 24   54                        León                        120 951
 25   55    Santa Coloma de Gramanet                        117 981
 26   56                  Alcobendas                        117 041
 27   57                       Cádiz                        113 066
 28   58                        Jaén                        111 669
 29   59                        Reus                        106 741
 30   60                      Orense                        103 756
 31   61             Roquetas de Mar                        102 881
 32   62                      Gerona                        102 666
 33   63                       Telde                        102 472
 34   64                   Baracaldo                        100 535

                  Provincia    Comunidad autónoma
 0                  Almería             Andalucía
 1      Comunidad de Madrid   Comunidad de Madrid
 2      Comunidad de Madrid   Comunidad de Madrid
 3                Guipúzcoa            País Vasco
 4      Comunidad de Madrid   Comunidad de Madrid
 5      Comunidad de Madrid   Comunidad de Madrid
 6                   Burgos       Castilla y León
 7                 Albacete    Castilla-La Mancha
 8                Castellón  Comunidad Valenciana
 9                Cantabria             Cantabria
 10     Comunidad de Madrid   Comunidad de Madrid
 11  Santa Cruz de Tenerife              Canarias
 12                  Málaga             Andalucía
 13                 Badajoz           Extremadura
 14                La Rioja              La Rioja
 15               Salamanca       Castilla y León
 16                  Huelva             Andalucía
 17                  Lérida              Cataluña
 18                 Sevilla             Andalucía
 19               Tarragona              Cataluña
 20     Comunidad de Madrid   Comunidad de Madrid
 21     Comunidad de Madrid   Comunidad de Madrid
 22               Barcelona              Cataluña
 23                   Cádiz             Andalucía
 24                    León       Castilla y León
 25               Barcelona              Cataluña
 26     Comunidad de Madrid   Comunidad de Madrid
 27                   Cádiz             Andalucía
 28                    Jaén             Andalucía
 29               Tarragona              Cataluña
 30                  Orense               Galicia
 31                 Almería             Andalucía
 32                  Gerona              Cataluña
 33              Las Palmas              Canarias
 34                 Vizcaya            País Vasco  ,
     N.º                  Nombre Población (1 de enero de 2022)  \
 0    65  Santiago de Compostela                         98 179
 1    66                    Lugo                         97 211
 2    67                   Lorca                         97 151
 3    68       Rivas-Vaciamadrid                         96 690
 4    69     Las Rozas de Madrid                         95 725
 ..  ...                     ...                            ...
 82  147             Torrelavega                         51 142
 83  148                 Segovia                         50 802
 84  149                   Ibiza                         50 715
 85  150   Rincón de la Victoria                         50 569
 86  151             Tres Cantos                         50 187

               Provincia   Comunidad autónoma
 0             La Coruña              Galicia
 1                  Lugo              Galicia
 2      Región de Murcia     Región de Murcia
 3   Comunidad de Madrid  Comunidad de Madrid
 4   Comunidad de Madrid  Comunidad de Madrid
 ..                  ...                  ...
 82            Cantabria            Cantabria
 83              Segovia      Castilla y León
 84       Islas Baleares       Islas Baleares
 85               Málaga            Andalucía
 86  Comunidad de Madrid  Comunidad de Madrid

 [87 rows x 5 columns],
      N.º                Nombre Población (1 de enero de 2022)  \
 0    152                 Adeje                         49 270
 1    153                   Vic                         47 545
 2    154  Mairena del Aljarafe                         47 161
 3    155              Figueras                         47 088
 4    156                  Gavá                         46 974
 ..   ...                   ...                            ...
 261  413               Bañolas                         20 168
 262  414            La Estrada                         20 106
 263  415                 Cabra                         20 097
 264  416         Huércal-Overa                         20 093
 265  417               Requena                         20 058

                   Provincia    Comunidad autónoma
 0    Santa Cruz de Tenerife              Canarias
 1                 Barcelona              Cataluña
 2                   Sevilla             Andalucía
 3                    Gerona              Cataluña
 4                 Barcelona              Cataluña
 ..                      ...                   ...
 261                  Gerona              Cataluña
 262              Pontevedra               Galicia
 263                 Córdoba             Andalucía
 264                 Almería             Andalucía
 265                Valencia  Comunidad Valenciana

 [266 rows x 5 columns],
      N.º                 Nombre Población (1 de enero de 2021)  \
 0    418                 Torrox                         19 997
 1    419  San Martín de la Vega                         19 927
 2    420                  Rosas                         19 921
 3    421                 Tolosa                         19 886
 4    422      Humanes de Madrid                         19 838
 ..   ...                    ...                            ...
 342  760              La Bañeza                         10 068
 343  761               Garrucha                         10 027
 344  762                Villava                         10 022
 345  763                 Íllora                         10 020
 346  764             La Guardia                         10 013

                Provincia   Comunidad autónoma
 0                 Málaga            Andalucía
 1    Comunidad de Madrid  Comunidad de Madrid
 2                 Gerona             Cataluña
 3              Guipúzcoa           País Vasco
 4    Comunidad de Madrid  Comunidad de Madrid
 ..                   ...                  ...
 342                 León      Castilla y León
 343              Almería            Andalucía
 344              Navarra              Navarra
 345              Granada            Andalucía
 346           Pontevedra              Galicia

 [347 rows x 5 columns],
       N.º                       Nombre Población (1 de enero de 2021)  \
 0     765                     Mengíbar                          9 997
 1     766                          Sax                          9 988
 2     767  Puentes de García Rodríguez                          9 974
 3     768                     Alguazas                          9 965
 4     769     San Vicente de Castellet                          9 949
 ..    ...                          ...                            ...
 542  1307                      Mocejón                          5 009
 543  1308                    Canyellas                          5 007
 544  1309                        Vedra                          5 032
 545  1310                      Cerceda                          5 019
 546  1311                    Ribadavia                          5 005

             Provincia    Comunidad autónoma
 0                Jaén             Andalucía
 1            Alicante  Comunidad Valenciana
 2           La Coruña               Galicia
 3    Región de Murcia      Región de Murcia
 4           Barcelona              Cataluña
 ..                ...                   ...
 542            Toledo    Castilla-La Mancha
 543         Barcelona              Cataluña
 544         La Coruña               Galicia
 545         La Coruña               Galicia
 546            Orense               Galicia

 [547 rows x 5 columns]]

**Municipios con más de 500 000 habitantes**

In [12]:
df_1 = df[0]
df_1

,N.º,Nombre,Población (1 de enero de 2022),Provincia,Comunidad autónoma
0,1,Madrid,3 280 782,Madrid,Comunidad de Madrid
1,2,Barcelona,1 636 193,Barcelona,Cataluña
2,3,Valencia,792 492,Valencia,Comunidad Valenciana
3,4,Sevilla,681 998,Sevilla,Andalucía
4,5,Zaragoza,673 010,Zaragoza,Aragón
5,6,Málaga,579 076,Málaga,Andalucía

**Municipios con más de 200 000 y menos de 500 000 habitantes**

In [13]:
df_2 = df[1]
df_2

,N.º,Nombre,Población (1 de enero de 2022),Provincia,Comunidad autónoma
0,7,Murcia,462 979,Región de Murcia,Región de Murcia
1,8,Palma,415 940,Islas Baleares,Islas Baleares
2,9,Las Palmas de Gran Canaria,378 797,Las Palmas,Canarias
3,10,Bilbao,344 127,Vizcaya,País Vasco
4,11,Alicante,338 577,Alicante,Comunidad Valenciana
5,12,Córdoba,319 515,Córdoba,Andalucía
6,13,Valladolid,295 639,Valladolid,Castilla y León
7,14,Vigo,292 374,Pontevedra,Galicia
8,15,Gijón,267 706,Principado de Asturias,Principado de Asturias
9,16,Hospitalet de Llobregat,265 444,Barcelona,Cataluña
10,17,Vitoria,253 672,Álava,País Vasco
11,18,La Coruña,244 700,La Coruña,Galicia
12,19,Elche,235 580,Alicante,Comunidad Valenciana
13,20,Granada,228 682,Granada,Andalucía
14,21,Tarrasa,224 114,Barcelona,Cataluña
15,22,Badalona,223 506,Barcelona,Cataluña
16,23,Cartagena,216 961,Región de Murcia,Región de Murcia
17,24,Sabadell,215 760,Barcelona,Cataluña
18,25,Oviedo,215 167,Principado de Asturias,Principado de Asturias
19,26,Jerez de la Frontera,212 730,Cádiz,Andalucía
20,27,Móstoles,208 761,Comunidad de Madrid,Comunidad de Madrid
21,28,Santa Cruz de Tenerife,208 688,Santa Cruz de Tenerife,Canarias
22,29,Pamplona,203 418,Navarra,Navarra

**Municipios con más de 100 000 y menos de 200 000 habitantes**

In [14]:
df_3 = df[2]
df_3

,N.º,Nombre,Población (1 de enero de 2022),Provincia,Comunidad autónoma
0,30,Almería,199 237,Almería,Andalucía
1,31,Alcalá de Henares,196 888,Comunidad de Madrid,Comunidad de Madrid
2,32,Fuenlabrada,189 891,Comunidad de Madrid,Comunidad de Madrid
3,33,San Sebastián,187 849,Guipúzcoa,País Vasco
4,34,Leganés,186 660,Comunidad de Madrid,Comunidad de Madrid
5,35,Getafe,183 218,Comunidad de Madrid,Comunidad de Madrid
6,36,Burgos,173 483,Burgos,Castilla y León
7,37,Albacete,172 357,Albacete,Castilla-La Mancha
8,38,Castellón de la Plana,171 857,Castellón,Comunidad Valenciana
9,39,Santander,171 693,Cantabria,Cantabria
10,40,Alcorcón,170 296,Comunidad de Madrid,Comunidad de Madrid
11,41,San Cristóbal de La Laguna,157 815,Santa Cruz de Tenerife,Canarias
12,42,Marbella,150 725,Málaga,Andalucía
13,43,Badajoz,150 146,Badajoz,Extremadura
14,44,Logroño,150 020,La Rioja,La Rioja
15,45,Salamanca,142 412,Salamanca,Castilla y León
16,46,Huelva,141 854,Huelva,Andalucía
17,47,Lérida,140 797,Lérida,Cataluña
18,48,Dos Hermanas,137 561,Sevilla,Andalucía
19,49,Tarragona,134 883,Tarragona,Cataluña
20,50,Torrejón de Ardoz,134 733,Comunidad de Madrid,Comunidad de Madrid
21,51,Parla,130 577,Comunidad de Madrid,Comunidad de Madrid
22,52,Mataró,128 956,Barcelona,Cataluña
23,53,Algeciras,122 368,Cádiz,Andalucía
24,54,León,120 951,León,Castilla y León
25,55,Santa Coloma de Gramanet,117 981,Barcelona,Cataluña
26,56,Alcobendas,117 041,Comunidad de Madrid,Comunidad de Madrid
27,57,Cádiz,113 066,Cádiz,Andalucía
28,58,Jaén,111 669,Jaén,Andalucía
29,59,Reus,106 741,Tarragona,Cataluña
30,60,Orense,103 756,Orense,Galicia
31,61,Roquetas de Mar,102 881,Almería,Andalucía
32,62,Gerona,102 666,Gerona,Cataluña
33,63,Telde,102 472,Las Palmas,Canarias
34,64,Baracaldo,100 535,Vizcaya,País Vasco

Tras revisar los datos, vemos que obtenemos la información de la página

*Creado por:*

*Isabel Maniega*